
<div class="container">
  <div class="row">
    <div class="col">

      <h1>Login</h1>
      <h2>Password or Username incorrect!!</h2>
      <hr>
    </br>
      <form action="/" method="post">

        <div class="form-group">
          <label>Username</label>
          <input class="form-control" type="text" name="username">
        </div>
    </br>    
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="password" name="password">
        </div>
    </br>
        <button type="submit" class="btn btn-primary">Login</button>

      </form>

    </div>
  </div>
</div>

